* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }

body {
    font-family: 'Assistant', sans-serif;
    padding-top: 60px;
    background-color: #2b2f31;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffdc64;
}

.color-nav {
    background-color: #2b2f31;
}

.intro {
    height: 100vh;
    color: whitesmoke;
}

.projects {
	/* background-color: whitesmoke; */
	/* height: 400px; */
}

.experience {
	/* height: 400px; */
}

.text-yellow {
    color: #ffdc64;
}

.fab {
	color: whitesmoke;
    padding: 8px;
}

.fa-github-alt:hover {
	color: #ffdc64;
}

.fa-twitter-square {
	color: #ffffff;
}

.fa-linkedin:hover {
	color: #0077b5;
}

.fa-codepen {
	color: #ffffff;
}

.svgs {
	width: 15%;
}

.me {
	width: 75%;
}

.icon {
	width: 150px;
}