body {
    font-family: 'Assistant', sans-serif;
    padding-top: 60px;
    background-color: #2b2f31;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffdc64;
}

.intro {
    height: 100vh;
    color: whitesmoke;
}

.page-one {
    background-color: #25292b;
    color: whitesmoke;
}

.text-yellow {
    color: #ffdc64;
}

/* .card-3 {
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	margin: 1rem;
	display: inline-block;
	position: relative;
	padding: 1rem;
} */


.fa-github-square {
	color: #ffffff;
}

.fa-github-square:hover {
	color: #ffdc64;
}

.fa-twitter-square {
	color: #ffffff;
}

.fa-twitter:hover {
	color: #38a1f3;
}

.fa-facebook-square {
	color: #ffffff;
}

.fa-facebook-square:hover {
	color: #4267b2;
}

.fa-linkedin {
	color: #ffffff;
}

.fa-linkedin:hover {
	color: #0077b5;
}

.fa-codepen {
	color: #ffffff;
}