* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Assistant', sans-serif;
  padding-top: 60px;
  background-color: #2b2f31;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffdc64;
}

.color-nav {
  background-color: #2b2f31;
}

.intro {
  height: 100vh;
  color: whitesmoke;
}

.text-yellow {
  color: #ffdc64;
}

.fab {
  color: whitesmoke;
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #4183c4;
  color: white;
}

.fa-github-alt {
  background: #4183c4;
  color: white;
}

.fa-envelope {
  background: #3b5998;
  color: white;
}

.fa-file-alt {
  background-color: #125688;
  color: white;
}

.me {
  max-width: 100%;
}

.icons {
  flex: 1 0 9%;
  margin: 10px;
  height: 150px;
}

.img-max {
  max-width: 100%;
  max-height: 100%;
}

footer {
  height: 40vh;
  margin: auto;
  color: whitesmoke;
}

@media only screen and (max-width: 768px) {
  .me {
    max-width: 70%;
  }
}
